.Home {
   flex-grow: 1;
}

.Home h2{
    text-align: center;
    display: block;
    margin-top: 30px;
    font-size: 150%;
}

.Home .quizz{
   display: block;
   margin : auto;
}


.Home .random{
   display: block;
   margin : auto;
}