
.AdminCard{
    display: inline-block;
    margin-bottom: 30px;
}
.AdminCard .col{
    display: flex;
    justify-content: center;
}
.AdminCard .imageCard{
    height: 250px;
    display:flex;
    justify-content: center;
}
.AdminCard .card-img{
    width: auto;
    max-height:100%;

}
.AdminCard .card-body{
    background-color: hsl(35, 23%, 84%);
   }
.AdminCard .card-title{
    text-align: center;
};

