.AdminForm {
    flex-grow: 1;
    background-color: #fff7ee;
}

.AdminForm .formAdmin {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.AdminForm .adminMainTitle {
    text-align: center;
    margin-top: 10px;
}

.AdminForm .adminMainTitle, img {
    border-radius: 10px;
}

.AdminForm img.imgVin {
    display:block;
    width:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px
}

.AdminForm .buttonForm {
    background-color: rgb(143, 60, 60);
    margin-bottom: 5px;
}
.AdminForm .buttonAdmin{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.AdminForm .btn {
    background-color: rgb(143, 60, 60);
    border-color: rgb(143, 60, 60);
}