.CardWine {
    flex-grow: 1;
    background-color: #fff7ee;
    display:flex;
    justify-content: center;
}

.CardWine img {
    height: 100%;
}

.CardWine .wineSpecs{
    border-radius:10px;
}

.DisplayWine {
    text-align: center;
}

.CardWine .wine{
    padding: 1vh;
    border-radius: 10px;
    width: 75vw;
    margin-top:2vh;
    margin-bottom: 3vh;
    border:2.5px solid rgb(143, 60, 60);
}

.CardWine .imgLeftCardWine {
    height:50vh;
    display: flex;
    justify-content: center;
    margin-top:auto;
    margin-bottom: auto;
  }

.CardWine .titleWine{
    text-align: center;
    margin-top:8vh;
    font-size:50px;
}
.CardWine p{
    font-size: 25px;
    text-align: center;
}
.CardWine a{
    color:rgb(143, 60, 60);
    font-size: 25px;
    text-align: center;
}
.CardWine a:hover{
    color:#8DAE8B;
    font-size: 25px;
    text-align: center;
}
.CardWine .linkProducer{
    text-align: center;
}

.CardWine .description{
    font-style: italic;
    border: 0px solid black;
    border-radius : 8%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size : 8px;
    box-shadow: 1.5px 1.5px 0px rgb(143, 60, 60);
}
.CardWine .description p{
    font-size : 20px;
}

@media screen and (max-width: 640px) {
    .CardWine img {
        height: 100%;
    }

    .CardWine .imgLeftCardWine {
        overflow: hidden;
    }

    .CardWine .titleWine{
        margin-top: 10px;
        font-size : 25px;
    }
    .CardWine .description {
        display: none;
    }
    .CardWine .wineDress p {
        font-size: 20px;
        margin-bottom: 0;
    }
    .CardWine .budget p {
        font-size: 20px;
        margin-bottom: 0;
    }
}
