.CardWine {
    flex-grow: 1;
    background-color: #fff7ee;
}

.CardWine .imageWine{
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.CardWine .wine{
    padding: 1vh;
    width: 75vw;
    margin-bottom: 3vh;
    border-left:1px solid black;
    border-right:1px solid black;
}
.CardWine .titleWine{
    text-align: center;
}

.CardWine .linkProducer{
    text-align: center;
}

.CardWine .description{
    border: 0px solid black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 1.5px 1.5px 0px rgb(17, 16, 16);
}