.Footer .row {
    display: flex;
    align-items: center;
}

.Footer p {
    margin-bottom: 0.5%;
}

.Footer {
    color: white;
    background-color:rgb(119, 71, 71);
    text-align: center;
    display: flex;
    width: 100%;
}

.Footer .container {
    width: 100%;
}

.Footer .text-center {
    display: flex;
    justify-content: space-around;
}

.Footer .title {
    font-size: 23px;
}

.Footer .logo {
    margin-top: 0.5%;
}

.Footer .copyright {
    width: 100%;
    background-color: rgb(71, 42, 42);
}

.Footer a {
    text-decoration: none;
    color: white;    
}

.Footer a:hover {
    color: white;
}

.Footer img {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:80px;
    width:90px;
    height:90px;
} 

@media screen and (max-width: 640px) {
    .Footer .logo {
        display: none;
    }

    .Footer .text-center {
        margin-top : 5%;
        margin-bottom : 3%;
    }

    .Footer p {
        margin-bottom: 0;
    }
}